<form class="form-signin">
	<button class="w-100 btn btn-lg btn-primary" routerLink="mission">New Mission</button>
</form>

<div ng-controller="missionsController">

	<table id="missions">
		<th *ngFor = "let column of headers">
			{{column}}
		</th>
		<tr *ngFor = "let m of missions">
			<td>
				{{m.title}}
			</td>
			<td>
				{{m.description}}
			</td>
			<td>
				{{m.typeString}}
			</td>
			<td>
				{{m.stateString}}
			</td>
			<td>
				{{m.userAssignee}}
			</td>
			<td>
				{{m.userAuthor}}
			</td>
			<td>
				<div class="btn-group" role="group" aria-label="State actions" style="width: 100% !important;">
					<button class="btn btn-outline-secondary" (click)="setPreviousState(m.missionId)">Previous state</button>
					<button class="btn btn-outline-success" (click)="setNextState(m.missionId)">Next state</button>
				</div>
			</td>
			<td>
				<div class="btn-group" role="group" aria-label="State actions" style="width: 100% !important;">
					<button class="btn btn-outline-secondary" (click)="resetState(m.missionId)">Reset</button>
					<button class="btn btn-outline-success" (click)="finishState(m.missionId)">Finish</button>
				</div>
			</td>
		  </tr>
	</table>

	<br />
	{{messageMissionsCount}}
	
</div>